body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #eeeeee;
  background-color: black;
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: space-evenly;
}
h1{
  align-self: center;
}
h2 {
  font-size: 1.5em;
  margin: 0;
}
a {
  all: initial;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}
img {
  width: 150px;
  height: 150px;
}

.slick-track {
  margin: 20px 0;
}
.slick-slide {
  margin-bottom: 10px;
}
.card {
  width: 80%;
  height: 275px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #4b4848;
  border-radius: 30px;
  padding: 20px;
}
.card > * {
  padding: 2px;
}
.accroche {
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.12ch;
}
h1,
h2 {
  text-align: center;
  color: #b7ac37;
  font-size: 2em;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.contact > * {
  padding: 5px;
  font-size: 1.3em;
}
.contact > a:hover {
  color: #b7ac37;
}
thead > tr {
  text-align: left;
  margin-bottom: 10px;
}
thead > *:first-child {
  font-size: 1.4em;
  margin-bottom: 10px;
  text-align: center;
}
h4 {
  position: relative;
  color: #b7ac37;
}
h4::before,
h4::after {
  content: "~";
  position: absolute;
}
h4::after {
  right: -5px;
}
td {
  padding: 5px 0;
}
h4::before {
  left: -5px;
}
table {
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
}
.carte-ligne {
  font-weight: 700;
}

.tarif {
  width: 60px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .card {
    width: 340px;
    height: 310px;
  }
  .tarif{
    width: 80px;
  }
}
@media (min-width: 1024px) {
  img{
    width: 180px;
    height: 180px;
  }
  .card {
    width: 80%;
    height: 310px;
  }
  header{
    justify-content: space-between ;
  }
  #root {
    width: 80%;
    font-size: 1.2em;
    margin: 0 auto;
  }
}
li{
  margin-bottom: 10px ;
}